.toogleButton {
  display: block;
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  color: rgb(228, 228, 228);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(241, 241, 241);
}
